<h1>Add new product</h1>

<form [formGroup]="productForm!" (ngSubmit)="createProduct()">
    <div>
        <label for="title">Title</label>
        <input id="title" placeholder="title" formControlName="title" required/>
    </div>
    <div>
        <label for="price">Price</label>
        <input id="price" type="number" placeholder="price" formControlName="price" required/>
    </div>
    <div>
        <label for="category">Category</label>
        <select id="category" formControlName="category">
            <option>Select category</option>
            <option value="jewelery">Jewelery</option>
            <option valie="electronics">Electronics</option>
            <option>Other</option>
        </select>
    </div>
    <div>
        <button type="submit">Add Product</button>
    </div>
</form>