<h1>Add new product</h1>

<form [formGroup]="productForm!" (ngSubmit)="createProduct()">
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput  placeholder="title" formControlName="title" required/>
        <mat-error>Title is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput type="number" placeholder="price" formControlName="price" required/>
        @if (productForm!.controls.price.touched && productForm!.controls.price.hasError('required')) {
            <mat-error class="help-text">Price is required.</mat-error>
        }
        @if (productForm!.controls.price.touched && productForm!.controls.price.hasError('min')) {
            <mat-error class="help-text">Price must be at least 1.</mat-error>
        }
        @if (productForm!.controls.price.touched && productForm!.controls.price.hasError('priceMaximum')) {
            <mat-error class="help-text">Price must be less than 1000</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
            <mat-option>Select category</mat-option>
            <mat-option value="jewelery">Jewelery</mat-option>
            <mat-option valie="electronics">Electronics</mat-option>
            <mat-option>Other</mat-option>
        </mat-select>
        @if (productForm!.controls.category.touched && productForm!.controls.category.invalid) {
            <mat-error>Category is required.</mat-error>
        }
    </mat-form-field>
    <div>
        <button mat-stroked-button type="submit" [disabled]="productForm!.invalid">Create</button>
    </div>
</form>