button {
    display: flex;
    align-items: center;
    background-color: white;
    border: 0;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}

div {
    padding: 16px;
    margin: 16px;
    border: 2px dashed;
}