@if (product$ | async; as product) {
<div>
    <p> Selected:
        <strong>{{product.title}}</strong>
    </p>

    <p> Price:
        <strong>{{product.price | currency:'EUR'}}</strong>
    </p>

    <form (ngSubmit)="changePrice(product)" #priceForm="ngForm">
        <input 
            placeholder="New Price" 
            [(ngModel)]="price" 
            name="price" 
            type="number" 
            #priceCtrl="ngModel" 
            required min="1"
            appPriceMaximum threshold="1000" />
        <button type="submit" [disabled]="priceForm.invalid">Update Price</button>
        @if (priceCtrl.dirty && priceCtrl.hasError('min')) {
            <span class="help-text">Please enter a valid price.</span>
        }
        @if (priceCtrl.dirty && priceCtrl.hasError('priceMaximum')) {
            <span class="help-text">Price must be less than 1000.</span>
        }
    </form>

    <p class="pill-group">
        {{product.category}}
    </p>

    @if (authService.isLoggedIn()) {
        <div>
            <button (click)="remove(product)">🗑️ Delete Product</button>
            
                <button (click)="addToCart(product.id)">🛒 Add to cart</button>
        </div>
    }
</div>
}