<header>
  <mat-toolbar>
    <mat-toolbar-row>
      {{ settings.title }}
      <span class="spacer"></span>
      <button mat-button routerLink="/products">Products</button>
      <button 
      mat-button 
      routerLink="/cart"
      [matBadge]="cartService.cart()?.products?.length">
        Cart
      </button>
      <button mat-button routerLink="/user">My Profile</button>
      <app-auth></app-auth>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<main class="main">
  <div class="content">
    <router-outlet />
  </div>

  @defer () {
    <app-featured style="margin: 16px;"/>
  } @loading(minimum 3s) {
    <mat-spinner ngSkipHydration></mat-spinner>
  }

</main>

<footer>
  <mat-toolbar ngSkipHydration>
    <mat-toolbar-row>
      <span appCopyright> - v{{ settings.version }} </span>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>