<button mat-mini-fab routerLink="new">
    <mat-icon>add</mat-icon>
</button>

@if (products()!.length > 0) {
    <h1>{{products()!.length}} Products</h1>
}

<ul class="pill-group">
    @for (product of products()! | sort:'id'; track product.id; let i = $index) {
        <mat-card [routerLink]="[product.id]">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>{{ product.title }}</mat-card-title>
                    <mat-card-subtitle>{{ product.category}}</mat-card-subtitle>
                    <img mat-card-sm-image [src]="product.image" alt="Immagine puramente a scopo illustrativo" />
                </mat-card-title-group>
            </mat-card-header>
        </mat-card>
    } @empty {
        <p>No Products found!</p>
    }
</ul>