<button mat-mini-fab routerLink="new">
    <mat-icon>add</mat-icon>
</button>

@if (products()!.length > 0) {
    <h1>{{products()!.length}} Products</h1>
}

<ul class="pill-group">
    @for (product of products()! | sort:'id'; track product.id; let i = $index) {
        <li class="pill" (click)="selectedProduct = product">
            @switch (product.category) {
                @case ('jewelery') { 💍 }
                @case ('electronics') { ⌨️ }
                @default { 🏷️ }
            }
            <a [routerLink]="[product.id]">{{ product.title }}</a>
        </li>
    } @empty {
        <p>No Products found!</p>
    }
</ul>