<p>product-list works!</p>

@if (products.length > 0) {
    <h1>{{products.length}} Products</h1>
}

<ul class="pill-group">
    @for (product of products | sort:'price'; track product.id; let i = $index) {
        <li class="pill" (click)="selectedProduct = product">
            <app-product-view [id]="product.id"></app-product-view>
        </li>
    } @empty {
        <p>No Products found!</p>
    }
</ul>

<h1>Favorites</h1>
<app-favorites></app-favorites>

@if (selectedProduct) {
    <app-product-detail 
        [product]="selectedProduct"
        (added)="onAdded($event)"
    ></app-product-detail>
} @else {
    <p>No Product selected!</p>
}
