.copyright {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
}

label {
    display: block;
    margin-bottom: 8px;
}

input.valid,
input.ng-dirty.ng-valid {
    border: 2px solid green;
}

input.invalid,
input.ng-dirty.ng-invalid {
    border: 2px solid red;
}

.help-text {
    display: flex;
    color: red;
    font-size: 0.8rem;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}